venv/
__pycache__/
*.pyc
.env
.idea/
.DS_Store
mlops_heart_disease_prediction_assignment_46bb37ab.plan
mlruns/
saved_models/
data/
*.log
htmlcov/
.coverage
.pytest_cache/
mlflow.db
*.db
